:root {
  --main-color: #1b17ff;
  --bg-color: #ffffff;
  --primary-color: #eb6e80;
  --secondary-color: #70cccc;
  --tertiary-color: #e6df61;
}

/*****************************************************************************************
* Globals
*****************************************************************************************/
* {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: "Montserrat", "PT Serif", serif;
}

body {
  padding: 50px;
  margin: 0 auto;
  font-size: 18px;
  background-color: var(--bg-color);
  color: var(--main-color);
}

/*****************************************************************************************
* Typography
*****************************************************************************************/
a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
  color: var(--secondary-color);
}

h1 {
  text-align: center;
  font-size: 1.5rem;
}

/*****************************************************************************************
* Layouts
*****************************************************************************************/

/* Logo */
.logo {
  font-size: 3em;
  text-align: end;
  background-color: var(--secondary-color);
  border-radius: 10px;
  padding: 20px;
}

/* Navigation Bar */
.navigation-list {
  list-style-type: none;
  text-align: center;
  position: sticky;
}

.navigation-item {
  display: inline-block;
  text-decoration: none;
  margin-right: 1em;
}

.navigation-item a[href]:not(:hover) {
  text-decoration: none;
}

.navigation-item-active {
  font-weight: 700;
  text-decoration: underline;
}

/*****************************************************************************************
* Content Styling
*****************************************************************************************/

main {
  width: 80vw;
  margin: 1rem auto;
}

/*****************************************************************************************
* Components
*****************************************************************************************/
/* Week related styling */
.title {
  text-align: center;
  background-color: var(--secondary-color);
  border-radius: 10px;
  grid-row: title;
  grid-column: week / day-end;
}

.heading {
  font-size: 1.5em;
  color: var(--secondary-color);
}

.day {
  border-radius: 5px;
  padding: 0.5em 1em 0.5em 1em;
  /*font-size: 0.75em;*/
  box-shadow: rgba(25) 5, 255, 255, 0.6 1px 1px 0, rgba(0, 0, 0, 0.3) 4px 4px 0;
  /*line-height: 1.5em;*/
  display: grid;
  grid-template-rows: repeat(3, 0.5fr);
  text-align: center;
}

.day-customer,
.day-sport,
.day-sleep {
  display: block;
}

.day-customer {
  justify-self: end;
  font-size: 1.75em;
}

.day-sport {
  justify-self: end;
}

.day-sleep {
  border-top-style: dashed;
  border-bottom-style: dashed;
  align-self: center;
  justify-self: stretch;
}

.tsofit {
  background-color: var(--secondary-color);
  color: var(--main-color);
}

.home {
  background-color: var(--bg-color);
  color: var(--main-color);
}

@media screen and (min-width: 700px) {
  .schedule {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: [week] 0.5fr [day-sun] 0.5fr [day-mon] 0.5fr [day-tue] 0.5fr [day-wed] 0.5fr [day-thu] 0.5fr [day-fri] 0.5fr [day-sat] 0.5fr [day-end];
    grid-template-rows: [title] 1fr [head] 1fr [week-1] 3fr [week-2] 3fr;
  }
}
/*****************************************************************************************************/
