:root {
  --ff: "Montserrat";
  --ff-code: "Space Mono";

  --clr-bg: #ffffff;
  --clr-primary: #1b17ff;
  --clr-secondary: #1787ff /*#83e2e2*/;
  --clr-secondary-lt: #aef5f5;
  --clr-complimentary: #fbff17;

  --short-logo: "hm";

  --txt-width: 70vw;
  --txt-title: 3rem;
  --txt-heading: 2rem;
  --txt-subheading: 1.5rem;
  --txt-text: 1rem;
  --txt-small: 0.8rem;

  --brdr-rad: 1rem;
}

/*****************************************************************************************
* Globals
*****************************************************************************************/
* {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: var(--ff);
}

body {
  padding: 50px;
  margin: 0 auto;
  font-size: 18px;
  background-color: var(--clr-bg);
  color: var(--clr-primary);
}

/*****************************************************************************************
* Typography
*****************************************************************************************/
a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
  color: var(--clr-complimentary);
  background-color: var(--clr-primary);
}

.title {
  font-size: var(--txt-title);
  text-align: center;
}

h1 {
  font-size: var(--txt-heading);
  border-bottom: 3px solid var(--clr-secondary);
  padding-top: 1rem;
}

h2 {
  font-size: var(--txt-subheading);
  padding-top: 0.5rem;
}

p {
  font-size: var(--txt-text);
  padding-top: 0.3rem;
}

/*****************************************************************************************
* Layouts
*****************************************************************************************/

header {
  display: grid;
  grid-template-columns: 2fr auto;
  grid-template-rows: 1fr auto;
  background-color: var(--clr-secondary);
  border-radius: 10px;
  padding: 1rem;
}

/* Logo */
.logo {
  font-size: 3em;
  text-align: left;
  border: none;
  padding: 0;
}

/* Hidden hamburger */
.hamburger-box,
.hamburger-label {
  display: none;
}

/* Navigation Bar */
.navigation-list {
  justify-self: end;
  align-self: center;
}

.navigation-item {
  display: inline-block;
  text-decoration: none;
  margin-right: 1em;
}

.navigation-item:hover {
  text-decoration: none;
  color: white;
}

.navigation-item-active {
  font-weight: 700;
  text-decoration: underline;
}

/* Tablet and smaller settings */
@media only screen and (max-width: 900px) {
  .logo {
    font-size: 0px;
  }

  .logo::before {
    content: var(--short-logo);
    font-size: 2rem;
  }

  .hamburger-label {
    display: grid;
    cursor: pointer;
    justify-self: end;
    align-self: center;
  }

  header {
    grid-template-rows: auto;
  }

  .navigation-list {
    display: none;
  }

  #toggle:checked + .navigation-list {
    display: grid;
    text-align: center;

    grid-column-start: 1;
    grid-column-end: span 2;
    grid-row-start: 2;
    justify-self: center;
  }
}

/*****************************************************************************************
* Content Styling
*****************************************************************************************/

main {
  width: var(--txt-width);
  margin: 1rem auto;
}

/*****************************************************************************************
* Components
*****************************************************************************************/

.article-list {
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
}

.article-card {
  text-decoration: none;
  margin: 0.3rem;
  background-color: var(--clr-secondary);
  border-radius: var(--brdr-rad);
  text-align: center;
  min-height: 8rem;
}

.article-card-heading {
  margin: 0.1rem;
  text-align: center;
  padding: 0;
}

.article-card-description {
  font-size: var(--txt-small);
}

.article-heading {
  padding-left: 1.5rem;
  padding-top: 0.5rem;
}

.list {
  list-style-type: none;
}

.list-item {
  text-decoration: none;
  padding-top: 0.3rem;
  padding-left: 1.5rem;
}

pre {
  background-color: var(--clr-secondary);
  color: white;
  width: 60vw;
  padding: 0.5rem 3rem;
}

code {
  font-family: var(--ff-code);
}