---
layout: layouts/home.njk
tags:
    - nav
    - recipes
navtitle: Recipes
date: 2000-01-01
---
<p>Recipes I've found around the web and then bastardized into something for me to make with what I have on hand. 
    This is more of a recipe index for me than for anyone else but feel free to try the things out and let
    <mailto:me@hiltonmeyer.com> me know if it turned out</mailto:me>.
</p>
<ul>
    <li><a href="./red-lentil-dal">Red-Lentil Dal</a></li>
</ul>