---
title: Red Lentil Dal
layout: layouts/recipe.njk
tags:
    - nav
    - recipe
    - cumin
    - mustard
    - onion
    - ginger
    - turmeric
    - tomatoes
    - lentils, red
    - cinnamon
    - spinach 
    - lime
    - cilantro
navtitle: Red Lentil Dal
date: 2019-09-01
---
<main>
    <article class="recipe">
        <h1>Red Lentil Dal</h1>
        <h2>Ingredients</h2>
        <ul>
            <li>2 tbs. organic ghee or extra-virgin olive oil</li>
            <li>1 ½ tsp. cumin seeds</li>
            <li>1 ½ tsp. black or brown mustard seeds</li>
            <li>1 onion, diced small</li>
            <li>1 tbs. minced fresh ginger root</li>
            <li>2 tsp. ground turmeric</li>
            <li>2 tsp. ground cumin</li>
            <li>½ tsp. plus pinch sea salt, divided</li>
            <li>2 cups chopped tomatoes, or a 14.5-oz. can, drained and juices reserved</li>
            <li>8 cups vegetable broth</li>
            <li>2 cups dried red lentils, rinsed well</li>
            <li>1 cinnamon stick</li>
            <li>3 cups loosely packed baby spinach</li>
            <li>1 tsp. freshly squeezed lime juice</li>
            <li>1/4 cup finely chopped fresh cilantro</li>
        </ul>

        <h2>Directions</h2>
        <p>Heat the ghee in a soup pot over medium heat. Add the cumin seeds and mustard seeds; sauté until they
            begin to pop. Immediately add the onion, ginger, turmeric, cumin, and a pinch of salt, and sauté for
            about three minutes. Add the tomatoes and 1/4 teaspoon of salt and sauté for two minutes. Pour in 1/2
            cup of broth and any reserved tomato juice to deglaze the pot, stirring to dislodge any bits stuck to
            the bottom.
            Cook until the liquid is reduced by half. Add the lentils and stir; then add the remaining broth and
            cinnamon stick. Increase the heat to high and bring to a boil.
            Decrease the heat to low, cover, and simmer until the lentils are tender. Stir in another 1/4 teaspoon
            of salt and simmer for five minutes. Remove the cinnamon stick and stir in the spinach and lime juice.
            Serve garnished with cilantro
        </p>
    </article>
</main>
