---
layout: layouts/home.njk
tags:
  - nav
navtitle: home
date: 1999-12-31
---
<p>My spot on the interwebs. A place for dumping the idea's floating around in my head or sharing the things that I've managed to 
actually create either online or in that thing they call real life.</p>

<h2>Latest Articles</h2>
<section class="article-list">
  {%- for article in collections.articles.reverse()  | currentContent | head(3)  -%}
    <div  class="home-card">
      <a href={{ article.url }}>
        <h3 class="article-card-heading">{{ article.data.title }}</h3>
      </a>
      <p class="article-card-description">{{ article.data.description }}</p>
    </div>
  {%- endfor -%}
</section>