---
layout: layouts/home.njk
tags:
  - nav
navtitle: Home
date: 1999-12-31
---
<p>My spot on the interwebs. A place for dumping the idea's floating around in my head or sharing the things that I've managed to 
actually create either online or in that thing they call real life.</p>