Cooking
[x]Cook Stove
[x]Plenty of fuel
[x]Pan
[]Pasta pot
[x]Skewers
[x]Corkscrew
[x]Spatula
[x]Braai Tongs

Optional
[]Potjie pot
[]Griddle

Cutlery
[x]Butchers Knife
[]Pairing Knife
[x]Plates x 6
[x]Cups/Mugs x 6
[x]Bowl x 6
[x]Knife x 6
[x]Fork x 6
[x]Tablespoon x 6
[x]Teaspoon x 6
[x]Can Opener
[]Water Bottle

Kitchen
[x]Coffee
[x]Coffee Pot
[]Plastic Zipper Bags
[x]Pot Scrubbers
[x]Dish Washing liquid
[]Hand soap
[x]Plastic Wrap
[x]Tin foil
[x]Tables
[x]Camping Chairs
[x]Tablecloth
[x]Cutting board
[x]Paper Towel
[x]Trash Bags
[x]Thermos

Sleeping Gear
[x]Air Bed
[x]Electric Air Pump
[x]Sleeping Bags
[x]Tent Light
[x]Hats

Camping Gear
[x]Tent, Poles and Stake
[x]Waterproof Matches
[]Mat for entrance 
[]TENT inside carpet 
[]Flashlights
[x]Headlamps
[x]Extra Batteries AAA and AA
[x]Ground Cover or Tarp
[x]Multi Tool
[x]Bungee Cord
[x]Duct tape
[x]Cable ties
[]Coolers
[]Ice
[x]Shade cloth, same as the one for the beach
[x]Hammock

Toiletries
[]Camp Towels
[x]Insect Repellent
[x]Shampoo
[x]Conditioner
[x]Soap
[]Toothbrush
[]Toothpaste
[x]Toilet Paper
[]Deodorant
[x]Wet wipes
[x]Lip balm

First Aid Kit
[x]Alcohol
[x]Iodine
[x]Plasters
[x]Headache tablets
[x]Gauze
[x]Bandage
[x]Aloe vera
[x]Sunscreen

Camp Fire
[]Portable Braai
[x]Fire Starter
[x]Matches
[]Coals
[]Lantern
[x]Lantern oil

Hiking Gear
[]Hiking bag