Thursday

	* 
Lunch

[x]Oil
[x]Rice
[x]Pasta
[x]Pasta sauce 
[x]Schnitzel	* 
Dinner (Barbecue):

[x]Hotdogs
[x]Steak
[x]Eggplant
[x]Corn
[]Lettuce, a head of lettuces
[x]Tomatoes x 6
[x]Cucumbers x 6 k mmm /mmm m
[x]Lemon


Friday

	* 
Breakfast

[x]Tomatoes x 6
[x]Cucumbers x 6
[x]Cornflakes
[x]Milk 2 litre
[x]Eggs x 12
[]Bread or pita
[x]Yellow cheese
[x]Cream cheese	* 
Lunch:

[x]Meatballs
[x]Hummus, 500g
[]Tuna x 2
[x]Canned Corn x 3	* 
Dinner (Poyke):

[x]Dried apricots
[x]Dried dates
[x]Sweet potatoes
[x]Rootbeer
[x]Onions
[x]Carrots x 3
[x]8 pieces of chicken thighs
[x]Garlic	* 
Extras:

[x]Sweet drinks, coke or vitaminchik
[x]Water 1.5l x 12
[x]Tapochips
[x]Doritos
[x]Cookies, chocolate chip 
[x]Apples
[x]Bananas
[x]Peaches
[x]watermellon
[x]Marshmallows x 3
[x]Beer
[x]Paper towels
[]Salt
[]Pepper
[x]Coffee, black
[x]Sugar
[x]Coals
[x]Fire lighters
[]Matches
[x]Olives
[x]Gerkins
