Food
	* 
Bread
	* 
Smoothie
	* 
Aubergine 
	* 
Bean spread
	* 
Tomatoes
	* 
Grapes
	* 
Avocado 
	* 
Lettuce



Prep
	* 
Mayan medicine 



	* 
Blister plasters



Equipment 
	* 
Hiking boots 
	* 
Socks
	* 
Hat
	* 
Sunscreen 
	* 
Camera
	* 
Long shirt 
	* 
T shirt 
	* 
Pants/Shorts
	* 
Water bladder
	* 
Cellphone 
	* 
Leatherman 
	* 
Aloe vera 
	* 
Lipbalm 
	* 
Headlamp
	* 
Toilet paper 



After
	* 
T Shirt
	* 
Underwear 
	* 
Tracksuit pants
	* 
Towel

