Cooking
[]Cook Stove
[]Plenty of fuel
[]Pan
[]Pasta pot
[]Skewers
[]Corkscrew
[]Spatula
[]Braai Tongs
[]Portable Braai

Optional
[]Potjie pot
[]Griddle

Cutlery
[]Butchers Knife
[]Pairing Knife
[]Plates x 6
[]Cups/Mugs x 6
[]Bowl x 6
[]Knife x 6
[]Fork x 6
[]Tablespoon x 6
[]Teaspoon x 6
[]Can Opener
[]Water Bottle

Kitchen
[]Coffee
[]Gas stove for coffee
[]Coffee Pot
[]All-in-One Portable Sink
[]Plastic Zipper Bags
[]Pot Scrubbers
[]Kitchen towels
[]Dish Washing liquid
[]Hand soap
[]Chlor
[]Plastic Wrap
[]Tin foil
[]Tables
[]Camping Chairs
[]Tablecloth
[]Cutting board
[]Paper Towel
[]Trash Bags

Sleeping Gear
[]Air Bed
[]Sleeping Bags
[]Tent Fan
[]Tent Light

Camping Gear
[]Tent, Poles and Stake
[]Gazebo
[]Waterproof Matches
[]Compass, Maps and Portable GPS
[]Flashlights
[]Headlamps
[]Extra Batteries AAA and AA
[]Ground Cover or Tarp
[]Multi Tool
[]Camp Saw
[]Rope
[]Bungee Cord
[]Duct tape
[]Cable ties
[]Coolers
[]Ice
[]Water Cooler
[]Hand Axe
[]Rubber Tent-Peg Mallet
[]Tent Stake Puller
[]Tent Repair Kit
[]Extra Tent Stakes
[]Whisk Broom and Dust Pan
[]Umbrella

Toiletries
[]Camp Towels
[]Insect Repellent
[]Shampoo
[]Conditioner
[]Soap
[]Toothbrush
[]Toothpaste
[]Toilet Paper
[]Mirror
[]Deodrant

First Aid Kit
[]Alcohol
[]Iodine
[]Plasters
[]Headache tablets
[]Gauze
[]Bandage
[]Aloe vera

Camp Fire
[]Fire Starter
[]Matches
[]Coals
[]Firewood for Camp Fires
[]Fuel Funnel
[]Lantern
[]Lantern Stand
[]Lantern oil
[]Long-Nosed Butane Lighter
[]Leather Gloves

PERSONAL
[]Digital Camera
[]Clothesline
[]Pad of Paper, Pencil or Pen
[]Sunglasses
[]Sunscreen
[]Hat

Hiking Gear
[]Hiking bag

Rain Gear

Plenty of Food
[x]Oil
[x]Salt
[x]Pepper
[]Garlic
[]Lemon
[]Nuts

