---
layout: layouts/home.njk
tags:
    - nav
navtitle: Recipes
date: 2000-03-01
---
<p>Recipes I've found around the web and then bastardized into something for me to make with what I have on hand. 
    This is more of a recipe index for me than for anyone else but feel free to try the things out and let
    <mailto:me@hiltonmeyer.com> me know if it turned out</mailto:me>.
</p>

<section class="article-list">
  {%- for article in collections.recipe | reverse -%}
    <div  class="article-card">
      <a href={{ article.url }}><h2 class="article-card-heading">{{ article.data.title }}</h1></a>
      <p class="article-card-description">{{ article.data.description }}</p>
    </div>
  {%- endfor -%}
</ul>  
</section>

