---
layout: layouts/base.njk
templateClass: tmpl-article
---
<h2>{{ title }}</h2>

{{ content | safe }}

<footer class="contrast txt-small txt-right">Created on {{ page.date.toDateString() }} - Last updated {{ updated.toDateString() }}</footer>