---
layout: layouts/base.njk
templateClass: tmpl-article
---
<p class="title">{{ title }}</p>

{{ content | safe }}

<footer class="contrast txt-small txt-right">Created on {{ page.date.toDateString() }} - Last updated {{ updated.toDateString() }}</footer>