<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ renderData.title or title or metadata.title }}</title>
    <meta name="Description" content="{{ renderData.description or description or metadata.description }}">
    <link rel="preload" href="/fonts/Begika.woff" as="font" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
    <link rel="stylesheet" href="/css/style.css">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-80549791-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());

      gtag('config', 'UA-80549791-1');
    </script>

  </head>

  <body>
    <header>
      <h1 class="logo">{{ metadata.title }}</h1>
      <div class="navigation-list">
        {%- for nav in collections.nav  -%}
          {% if nav.url === page.url %}
            <a class="nav-element current-page"  href="{{ nav.url | url }}">{{ nav.data.navtitle }}</a>
          {% else %}
            <a class="nav-element" href="{{ nav.url | url }}">{{ nav.data.navtitle }}</a>
          {% endif %}
        {%- endfor -%}
      </div>
    </header>

    <main{% if templateClass %} class="{{ templateClass }}" {% endif %}>
      {{ content | safe }}
    </main>

    <footer></footer>
  </body>

</html>