<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ renderData.title or title or metadata.title }}</title>
  <meta name="Description" content="{{ renderData.description or description or metadata.description }}">
  <link rel="stylesheet" href="{{ '/css/style.css' | url }}">
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
    integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
    crossorigin="" />
  <!--link rel="stylesheet" href="{{ '/css/prism-base16-monokai.dark.css' | url }}"-->
  <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
  <meta name="google-site-verification" content="-ZvJntRJqMQ-E1nq2f8L7KmBya0y_a-WlnT-GFlS4rE" />
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i|Space+Mono:400,700" rel="stylesheet">
</head>

<body>
  <header>
      <h1 class="logo">{{ metadata.title }}</h1>
      <ul class="navigation-list">
        {%- for nav in collections.nav  -%}
        <li class="navigation-item{% if nav.url == page.url %} navigation-item-active{% endif %}"><a
          href="{{ nav.url | url }}">{{ nav.data.navtitle }}</a></li>
        {%- endfor -%}         
        <!--li class="navigation-item"><a href="https://work.hiltonmeyer.com" target="_blank">Work Blog</a></li-->
        <li class="navigation-item"><a href="https://bikingbadger.com" target="_blank">Bike Packing</a></li>
      </ul>
   </header>

  <main{% if templateClass %} class="{{ templateClass }}" {% endif %}>
    {{ content | safe }}
    </main>

    <footer></footer>

    <link href="https://fonts.googleapis.com/css?family=Krub&display=swap" rel="stylesheet">
</body>

</html>
