---
title: Articles
layout: layouts/home.njk
tags:
  - nav
navtitle: Articles
date: 2000-02-01
---
<p>Articles of things I've learnt or tricks I've found in the database and web development</p>

<section class="article-list">
  {%- for article in collections.articles | currentContent  -%}
    <div  class="article-card">
      <a href={{ article.url }}><h2 class="article-card-heading">{{ article.data.title }}</h1></a>
      <p class="article-card-description">{{ article.data.description }}</p>
    </div>
  {%- endfor -%}
</section>

