---
title: Projects
layout: layouts/home.njk
tags:
  - nav
navtitle: projects
date: 2000-02-01
---
<p>Projects that I have worked on. Using various technologies either for testing out something new or creating a POC</p>

<section class="article-list">
  {%- for article in collections.project | currentContent('asc') -%}
    <div  class="article-card">
      <a href={{ article.url }}>
        <h3 class="article-card-heading">{{ article.data.title }}</h3>
      </a>
      <p class="article-card-description">{{ article.data.description }}</p>
    </div>
  {%- endfor -%}
</section>